<link rel="stylesheet" href="~/css/style.css">
<style>
	.border-right {
		border-style: solid;
		color: rgb(56 191 245 / 0.80);
		height: 300px;
		position: fixed;
		border-width: 3px;
	}

	.dot {
		width: 45px;
		height: 45px;
		position: fixed;
		text-align: center;
	}

	@@media (max-width:770px) and (min-width:481px) {
		.myimg {
			width: 200px !important;
			height: 120px !important;
		}
	}

	@@media (max-width:480px) {
		.myimg {
			width: 100px !important;
			height: 60px !important;
		}
	}
</style>

<div class="float-right" style="display:flex;justify-content:center;">

	<div class="border-right " style=";"></div>
	<img src="~/test/tent2.png" class="dot">
	<p style="margin-top: 50px; position: fixed;">建露營區</p>
	<img src="~/test/tent.png" class="dot" style="margin-top:125px">
	<p style="margin-top: 175px; position: fixed;">建房型</p>
	<img src="~/test/tent.png" class="dot" style="margin-top:250px">
	<p style="margin-top: 300px; position: fixed;">完成</p>
</div>
<form id="form1" v-on:submit.prevent="send">
	<div class="container">
		<div class="row">
			<h3 class="col-8 mt-5 ml-5 mb-3">露營區資訊</h3>

			<div class="col-8 mx-auto my-2">
				<div class="border p-5 shadow " style="background-color:#e6e4e4">
					<div class="form-group row mb-4">
						<label for="name" class="form-label">露營區名稱</label>
						<input type="text" class="form-control" id="name" v-model="hello.name" required>
					</div>
					<div class="form-group row mb-4">
						<label for="phone" class="form-label">電話</label>
						<input type="tel" placeholder="0123-445-678" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}" required
							   class="form-control" id="phone" v-model="hello.phone">
					</div>
					<div class="form-group row mb-4">
						<label for="selected" class="form-label">地區</label>
						<select v-model="selected">
							<option v-for="region in regions" v-bind:value="region.value">
								{{ region.text }}
							</option>
						</select>
						<!-- <span>Selected: {{ selected }}</span> -->
					</div>
					<div class="form-group row mb-4">
						<label for="address" class="form-label">地址</label>
						<input type="text" class="form-control" id="address" v-model="hello.address">
					</div>
					<div class="form-group row  mb-4">
						<label for="description" class="form-label">敘述</label>
						<textarea class="form-control" id="description" v-model="hello.description"></textarea>
					</div>
				</div>
			</div>
			<h3 class="col-8 ml-5 my-4">服務設施</h3>
			<div class="col-8 mx-auto mt-2 mb-4">
				<div class="border p-5 d-flex  mx-auto align-content-center shadow " style="background-color:#e6e4e4">
					<div class="form-group row">
						<ul>
							<li>

								<input type="checkbox" id="Breakfast" class="checkbox" />
								<label for="Breakfast">
									<span class="material-icons" style="font-size: 48px;">bakery_dining</span>

								</label>
								<p>早餐</p>
							</li>
							<li>
								<input type="checkbox" id="Lunch" class="checkbox" />
								<label for="Lunch">
									<span class="material-icons" style="font-size: 48px;">ramen_dining</span>

								</label>
								<p>午餐</p>
							</li>
							<li>
								<input type="checkbox" id="Dinner" class="checkbox" />
								<label for="Dinner">
									<span class="material-icons" style="font-size: 48px;">brunch_dining</span>

								</label>
								<p>晚餐</p>
							</li>
							<li>
								<input type="checkbox" id="Public_Refrigerator" class="checkbox" />
								<label for="Public_Refrigerator">
									<span class="material-icons" style="font-size: 48px;">kitchen</span>

								</label>
								<p>公共冰箱</p>
							</li>
							<li>
								<input type="checkbox" id="Tent_Equipment" class="checkbox" />
								<label for="Tent_Equipment">
									<span class="material-icons" style="font-size: 48px;">build</span>

								</label>
								<p>帳篷設備</p>
							</li>

							<li>
								<input type="checkbox" id="Kitchen_Utensils" class="checkbox" />
								<label for="Kitchen_Utensils">
									<span class="material-icons" style="font-size: 48px;">flatware</span>

								</label>
								<p>廚具</p>
							</li>
							<li>
								<input type="checkbox" id="Canopy" class="checkbox" />
								<label for="Canopy">
									<span class="material-icons" style="font-size: 48px;">beach_access</span>

								</label>
								<p>雨棚</p>
							</li>
							<li>
								<input type="checkbox" id="Wifi" class="checkbox" />
								<label for="Wifi">
									<span class="material-icons" style="font-size: 48px;">wifi</span>

								</label>
								<p>Wifi</p>
							</li>
							<li>
								<input type="checkbox" id="Night_Lighting" class="checkbox" />
								<label for="Night_Lighting">
									<span class="material-icons" style="font-size: 48px;">flashlight_on</span>

								</label>
								<p>夜間照明</p>
							</li>
							<li>
								<input type="checkbox" id="Power_Supply" class="checkbox" />
								<label for="Power_Supply">
									<span class="material-icons" style="font-size: 48px;">power</span>

								</label>
								<p>供電設備</p>
							</li>

							<li>
								<input type="checkbox" id="Outdoor_Tables_Chairs" class="checkbox" />
								<label for="Outdoor_Tables_Chairs">
									<span class="material-icons" style="font-size: 48px;">deck</span>

								</label>
								<p>戶外桌椅</p>
							</li>
							<li>
								<input type="checkbox" id="Canteen" class="checkbox" />
								<label for="Canteen">
									<span class="material-icons" style="font-size: 48px;">food_bank</span>

								</label>
								<p>食堂</p>
							</li>
							<li>
								<input type="checkbox" id="Mattress" class="checkbox" />
								<label for="Mattress">
									<span class="material-icons" style="font-size: 48px;">bed</span>

								</label>
								<p>床墊</p>
							</li>
							<li>
								<input type="checkbox" id="No_Equipment" class="checkbox" />
								<label for="No_Equipment">
									<span class="material-icons" style="font-size: 48px;">bungalow</span>

								</label>
								<p>豪華露營</p>
							</li>
							<li>
								<input type="checkbox" id="IsCancel" class="checkbox" />
								<label for="IsCancel">
									<span class="material-icons" style="font-size: 48px;">paid</span>

								</label>
								<p>退訂</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<h3 class="col-8 ml-5 mb-4">露營區照片</h3>
			<div class="col-8 mx-auto my-2">
				<div class="border p-5 shadow " style="background-color:#e6e4e4">
					<div class="form-group row">
						<input type="file" class="form-control" id="pic" v-on:change="up">
						<p class="text-center">(最少三張，最多六張)</p>
					</div>
					<div class="form-group row">
						<p>Preview Here:</p>
						<template v-if="picture.preview_list.length">
							<div class="container">
								<div class=" mt-2 px-2 mx-auto " style="display:inline-block" v-for="item, index in picture.preview_list" :key="index">
									<button type="button" class="btn btn-danger rounded" v-on:click="deletepreviewpic(index)" style="position: absolute;">X</button>
									<img :src="item" style="width:290px; height: 180px; object-fit: cover;" class="myimg" />
								</div>
							</div>
						</template>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-end">
		<button type="submit" class="btn btn-dark text-white btn-lg mb-5">新增</button>
	</div>
</form>

<script>
	var app = new Vue(
		{
			el: "#form1",
			data: {
				hello: {
					name: "",
					phone: "",
					address: "",
					description: ""
				},
				picture: {
					preview: null,
					preview_list: [],
					image_list: []
				},
				selected: 'Keelung',
				regions: [
					{ text: '高雄', value: 'Keelung' },
					{ text: '新北', value: 'New_Taipei' },
					{ text: '台北', value: 'Taipei' },
					{ text: '桃園', value: 'Taoyuan' },
					{ text: '新竹', value: 'Hsinchu' },
					{ text: '苗栗', value: 'Miaoli' },
					{ text: '台中', value: 'Taichung' },
					{ text: '彰化', value: 'Changhua' },
					{ text: '南投', value: 'Nantou' },
					{ text: '雲林', value: 'Yunlin' },
					{ text: '嘉義', value: 'Chiayi' },
					{ text: '台南', value: 'Tainan' },
					{ text: '高雄', value: 'Kaohsiung' },
					{ text: '屏東', value: 'Pingtung' },
					{ text: '宜蘭', value: 'Yilan' },
					{ text: '花蓮', value: 'Hualien' },
					{ text: '台東', value: 'Taitung' }
				]
			},
			methods: {
				up: function (a) {
					//console.log(a);
					//console.log(a.target.files[0]);
					var input = a.target;
					var count = input.files.length;
					var index = 0;

					if (input.files) {
						while (count--) {
							if (this.picture.preview_list.length < 6) {
								var reader = new FileReader();
								reader.onload = (e) => {
									this.picture.preview_list.push(e.target.result);
								}
								this.picture.image_list.push(input.files[index]);
								reader.readAsDataURL(input.files[index]);
								index++;
								alert("上傳了!!!");
								console.log(this.selected);
							}
							else {
								alert("!!!");
							}
						}

					}




				},
				deletepreviewpic: function (a) {

					this.picture.preview_list.splice(a, 1);
					this.picture.image_list.splice(a, 1);
					//window.location.reload();


				},
				send: function () {
					if (this.picture.preview_list.length < 3) {
						Swal.fire({
							background: 'black',
							color: 'white',
							icon: 'warning',
							title: '照片少於三張!!!',
							confirmButtonColor: '#3C6ECF',
							confirmButtonText: '去加~',
						});
					}
					else
					{
						var bodyFormData = new FormData();

						bodyFormData.append("Name", this.hello.name);
						bodyFormData.append("Phone", this.hello.phone);
						bodyFormData.append("Region", this.selected);
						bodyFormData.append("Address", this.hello.address);
						bodyFormData.append("Description", this.hello.description);
						var services = document.querySelectorAll('.checkbox');
						for (let service of services) {
							bodyFormData.append(`${service.id}`, service.checked)
						}

						for (let index = 0; index < this.picture.image_list.length; index++) {
							bodyFormData.append("Path", this.picture.image_list[index]);
						}

						axios({
							method: "post",
							url: "/Create_Camping_Area/Camping_Area_IntoDB",
							data: bodyFormData,
							headers: { "Content-Type": "multipart/form-data" },
						})
							.then(function (response) {
								if (response.data == true) {
									/*alert("success");*/
									window.location.href = "/Create_Room/CreateRoom";
								}
								else {
									/*alert("失敗");*/
								}
								//	//handle success


							})
							.catch(function (response) {
								//handle error
								console.log(response);
							});
					}
					
				}
			}
		}
	);
</script>





